<div class="container py-4">
    <div class="row justify-content-center mb-4">
        <div class="col-md-4 text-center">
            <button class="btn w-100" [ngClass]="currentPage == 'ADD' ? 'btn-primary' : 'btn-secondary'" (click)="changePage('ADD')">Add a product</button>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn w-100" [ngClass]="currentPage == 'UPDATE' ? 'btn-primary' : 'btn-secondary'" (click)="changePage('UPDATE')">Update a product</button>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn w-100" [ngClass]="currentPage == 'SEARCH' ? 'btn-primary' : 'btn-secondary'" (click)="changePage('SEARCH')">Search a product</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6" *ngIf="currentPage == 'ADD'">
            <app-produit-form-component></app-produit-form-component>
        </div>
        <div class="col-md-6" *ngIf="currentPage == 'UPDATE'">
            <app-produit-detail></app-produit-detail>
        </div>
        <div class="col-md-6" *ngIf="currentPage == 'SEARCH'">
            <app-recherche-produit></app-recherche-produit>
        </div>
    </div>
</div>
