<form [formGroup]="groupForm">
  <div class="row g-3">
    <!-- Nom du produit -->
    <div class="col-md-4">
      <label for="name" class="form-label">Product name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Search by name">
    </div>

    <div class="col-md-4">
      <label for="description" class="form-label">Product description</label>
      <textarea type="text" id="description" class="form-control" formControlName="description"
        placeholder="Search by description"></textarea>
    </div>

    <div class="col-md-4">
      <label for="category" class="form-label">Category</label>
      <select id="category" class="form-select" formControlName="category_name">
        <option *ngFor="let category of categoriesList" [value]="category.name">{{ category.name }}</option>
      </select>
    </div>


    <div class="col-md-4">
      <label for="price" class="form-label">Price Range</label>
      <div class="d-flex">
        <input type="number" id="price" class="form-control me-2" formControlName="price" placeholder="Price">
        <!-- <input type="number" id="maxPrice" class="form-control" formControlName="maxPrice" placeholder="Max"> -->
      </div>
    </div>

    <div class="col-md-4">
      <label for="quantity" class="form-label">Quantity</label>
      <div class="d-flex">
        <input type="text" name="quantity" id="quantity" formControlName="quantity" class="form-control me-2">
      </div>
      

    </div>

    <!-- Bouton Rechercher -->
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary" (click)="getProductMulti()">Search</button>
      <button type="button" class="btn btn-secondary ms-2">Reset</button>
    </div>
  </div>
</form>

Affichage des résultats
<div class="mt-4">
  <h4>Search Results ({{ filtredProductList.length }} products found)</h4>
  <div >
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of filtredProductList">
        <strong>{{ product.name }}</strong> - {{ product.category_name }} - ${{ product.price }}
      </li>
    </ul>
  </div>

  <ng-template #noResults>
    <p>No products found.</p>
  </ng-template>
</div>